<h2>Editar películas</h2>

<form action="/api/peliculas/{{_id}}?_method=PUT" method="POST">

    <div class="mb-3">
        <label for="lbl-title" class="form-label">Título</label>
        <input class="form-control" type="text" id="lbl-title" name="title" value="{{title}}" placeholder="Ingrese el título de la película">
    </div>

    <div class="mb-3">
        <label for="lbl-year" class="form-label">Año</label>
        <input class="form-control" type="text" id="lbl-year" name="year" value="{{year}}" placeholder="Ingrese el título de la película">
    </div>

    <button class="btn btn-warning">Editar película</button>

</form>